body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.logo-studio {
    color:#2E2F42;
}

footer .logo {
    color:#4d5ae5;
}

.header-nav .adrress-a {
    font-size: 16px;
    color: #434455;
}

.h-main {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

.section-order {
    background: #2E2F42;
    color:#FFFFFF;
}

.order-button {
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.order-button:hover {
    background-color: #404BBF;
}
.order-button:focus {
background-color: #404BBF
}

.header-nav a {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-nav a:hover {
    color: #404BBF;
}

.header-nav a:active {
    color: #404BBF;
}

.header-nav a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.section-team {
    background-color:#F4F4FD;
}

.section-team p {
    font-size: 16px;
}

.footer {
    background-color:#2E2F42;
}

.footer p {
    color: #F4F4FD;
}

.sec-twoul {
    letter-spacing: 0.02em;
    color:#434455;
}

.adrress-li {
    color:#434455;
}

.section-team li {
    background-color:#FFFFFF;
}

.section-team h3 {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.section-team p {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.sec-twoulh {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.h-portfolio, .h-ourteam {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.section-team ul li .teamh {
    line-height: 1.2;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.sec-twoh, .portfolio-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.portfolio-ul p {
    letter-spacing: 0.02em;
}

footer .studio-web {
    color: #f4f4fd;
}
.footer p {
    letter-spacing: 0.02em
}
